body {
    background-image: url("UBC.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

div{
    padding-top: 6px;
}
/*

table, th, td {
    border: 1px solid black;

}

table{
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 2px;
}
*/
#course_explorer {height:1000px;overflow:auto;    background-color: rgba(255, 255, 255, 0.9);}
#room_explorer {height:1000px; overflow:auto;    background-color: rgba(255, 255, 255, 0.9);}
#room_scheduling {height:1000px;color: #fff; overflow:auto;     background-color: rgba(255, 255, 255, 0.9);}
