/*
body {
    background-image: url("UBC.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}   
*/


div{
    padding-top: 6px;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

table{
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 2px;
}

#course_explorer {height:1000px;overflow:auto; border:3px solid black; }
#room_explorer {height:1000px; overflow:auto; border:3px solid black;}
#room_scheduling {height:1000px; overflow:auto; border:3px solid black;}

